<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/account.css" />
    <title>Email verified</title>
  </head>
  <body>
    <div class="emailVerifiedContainer">
      <h3>
        Your Email has been verified.
      </h3>
      <br>
      <center>
      <a href="/login" class="btn">Go To Login</a>
      </center>
    </div>
  </body>
</html>
