<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Forget password</title>
    <link rel="stylesheet" href="css/account.css" />

    <!-- Fontawesome CDN Link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <input type="checkbox" id="flip" />
      <div class="cover">
        <div class="front">
          <img src="images/acoount.jpg" alt="parrotimage" />
          <div class="text">
            <span class="text-1"
              >Every new art is <br />
              in you.</span
            >
            <span class="text-2">Let's get connected</span>
          </div>
        </div>
        <div class="back">
          <img src="images/account2.jpg" alt="parrotimage" />
          <div class="text">
            <span class="text-1"
              >Complete miles of journey <br />
              with one step</span
            >
            <span class="text-2">Let's get started</span>
          </div>
        </div>
      </div>
      <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Forgot Password</div>
            <form action="" method="post">
              <div class="input-boxes">
                <div class="input-box">
                  <i class="fas fa-envelope"></i>
                  <input type="password" name="password" required placeholder="Enter Password" required>
                  <input type="hidden" name="user_id" value="<%= user_id %>">
                </div>

                <div class="button input-box">
                    <input type="submit" value="Reset Password">
                </div>
                <div class="text sign-up-text">
                  <a href="/login">Login now</a>
                </div>
                <div class="text sign-up-text">
                  <% if(typeof message !== 'undefined'){ %>
                  <h4 style="color: green"><%= message %></h4>
                  <% } %>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Back to Top -->
    </div>
    <a href="/" class="mainPageBtn"
      >Main Page &nbsp;<i class="fa fa-arrow-left"></i
    ></a>
  </body>
</html>
